<div class="checkup-section-header header-primary">
  <div class="container-fluid">
    <div class="container-content v-padding-full">
      <h1 class="mdc-typography--headline3 v-padding-full">Resources</h1>
    </div>
  </div>
</div>
<div class="container-fluid brand-scheme-{{#compare @root.data.currentSite.name 'skills'}}default{{else}}legacy{{/compare}}">
  <div class="container-content">
    {{#compare @root.data.supplimentaryResponses.resources.hits.total ">" 0 ~}}
    <div class="mdc-layout-grid equal-height v-margin-full">
      <div class="mdc-layout-grid__inner">
        {{#each @root.data.supplimentaryResponses.resources.hits.hits ~}}
        {{#with _source ~}}
        {{> content_resource_card tag_slugs=post_tags_slug tags=post_tags link=link title=title author=author_attribution content=content}}
        {{/with ~}}
        {{/each ~}}
      </div>
    </div>
    {{/compare ~}}
  </div>
</div>