<a href="https://scvo.org/support/covid-19" class="bg-yellow">
  <div class="container-fluid v-padding-full">
    <div class="mdc-layout-grid v-padding-full">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-1 align-centre">
          <span class="fal fa-exclamation-triangle fa-3x fa-fw" aria-hidden="true"></span>
        </div>
        <div class="mdc-layout-grid__cell--span-11 align-centre" style="justify-content:left !important;">
          <h2 class="no-margin" style="margin:0;">
            COVID-19 Third Sector Information Hub
          </h3>
        </div>
      </div>
    </div>
  </div>
</a>