<h1>
  This is the don't submit debug page! 
</h1>

<h2>SF Metrics</h2>

    {{#each (groupBy @root.data.metrics "metric")}}
      {{!-- this assumes that supplements can't ever go higher than the question maximum. If they can, something much more complex will need to be implemented --}}
      
      <p>{{json value=this}}</p> YES?
      {{#unless (includes @key '-supplement')}}
      {{#json type="object"}}
        {{{json key="metric" value=(concat @key)}}},
        {{{json key="percentageScore" value=(maths "ceil((sum(scores) - sum(minScores)) / (sum(maxScores) - sum(minScores)) * 100)" scores=(pluck this "score") maxScores=(pluck this "maxScore") minScores=(pluck this "minScore"))}}}
      {{/json}},
      {{/unless}}
    <br><br>
    {{/each}}

