$mdc-theme-orange: #D4431F;
$mdc-theme-purple: #754AA5;
$mdc-theme-green: #588223;
$mdc-theme-darkgreen: #6B7D23;
$mdc-theme-pink: #D21262;
$mdc-theme-blue: #1377CD;
$mdc-theme-lightblue: #5ECADA;
$mdc-theme-darkblue: #00519f;
$mdc-theme-darkgrey: #2A2A2A;
$mdc-theme-mediumgrey: #585858;
$mdc-theme-lightgrey: #F6F6F6;

$mdc-theme-primary: $mdc-theme-lightblue;
$mdc-theme-primary-dark: darken($mdc-theme-primary, 15%);
$mdc-theme-primary-light: lighten($mdc-theme-primary, 15%);

$mdc-theme-secondary: $mdc-theme-lightblue;
$mdc-theme-secondary-dark: darken($mdc-theme-secondary, 15%);
$mdc-theme-secondary-light: lighten($mdc-theme-secondary, 15%);

$primary-color: #FF595A;
$primary-color-light: #ffd6d6;
$primary-color-dark: #C5143D;
$secondary-color: #244B5A;
$secondary-color-light: #33697e;
$secondary-color-lighter: #DEE0E3;
$secondary-color-dark: darken($secondary-color, 10%) !default;
$yellow-color: #FFDB00;
$digital-color: #ECF8FA;

$blue-color: #4CBED5;
$blue-color-light: #edf8fa;
$blue-color-alt: #f4fbfc;
$blue-color-light-var: f4fbfc;
$blue-color-dark: #6f9dae;
$purple-color: #C3AFDD;
$green-color: #ABDF98;
$yellow-color: #F9DA18;
$pink-color: #F78E8B;
$orange-color: #FAB857;

$goodmoves-legacy-color: rgb(68, 133, 50);
$goodmoves-color: #537F2C;
$tfn-legacy-color: #3b9db1;
$tfn-color: #22E5EB;
$tfn-color-alt: #00A2BC;
$fs-legacy-color: #537F2C;
$fs-color: #537F2C;

$gray-color: #D5D8DC;
$gray-color-light: #F0F1F2;
$gray-color-dark: #9BA5AD;

$unit: 1rem;
$padding: 1.2rem;
// $header-height: 165px;
$border-radius: $unit/5;
$thick-line: 5px;
$transition-speed: 0.12s;

html {
  font-size: 22px;
}

@import "./node_modules/material-components-web/material-components-web.scss";
@import "./node_modules/@scvo/common/old/common-styles.scss";

html {
  font-size: 1rem;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

$base-font-family:                  "Ingra", Helvetica, Arial, sans-serif;
$heading-font-family:               "Asap", Helvetica, Arial, sans-serif;
$footer-font-family:                "Ingra", Helvetica, Arial, sans-serif;

h1,
h2,
h3,
h4 {
  font-family: $heading-font-family, $base-font-family, Helvetica, Arial, sans-serif;
  // font-feature-settings: "ss01" on;
  letter-spacing: -0.08rem;
}
h1.font-default,
h2.font-default,
h3.font-default,
h4.font-default {
  font-feature-settings: "ss01" off;
}
p,
li,
.mdc-tab,
footer h3,
.mdc-chip,
.mdc-card,
.mdc-button,
.mdc-select,
.mdc-form-field,
.mdc-typography,
.mdc-text-field,
.mdc-dialog__body,
.mdc-dialog__title,
.mdc-card__subtitle,
.mdc-floating-label,
.mdc-card__subtitle,
.mdc-snackbar__text,
.mdc-snackbar__label,
.mdc-dialog__content,
.mdc-dialog__actions,
.mdc-drawer__subtitle,
.mdc-textfield__input,
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--title,
.mdc-text-field__input,
.mdc-top-app-bar__title,
.mdc-card__title--large,
.mdc-typography--caption,
.mdc-menu .mdc-list-item,
.supplimentary-list-title,
.mdc-typography--headline,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--headline7,
.mdc-card__supporting-text,
.mdc-select__selected-text,
.mdc-dialog__header__title,
.mdc-drawer .mdc-list-item,
.mdc-select__native-control,
.mdc-typography--subheading2,
.mdc-list-item__secondary-text,
.mdc-simple-menu .mdc-list-item,
.mdc-temporary-drawer .mdc-list-item,
.mdc-drawer--temporary .mdc-list-item,
.mdc-list {
  font-family: $base-font-family, Helvetica, Arial, sans-serif;
  color: $secondary-color;
}
.mdc-card__title,
.mdc-drawer__title,
.mdc-textfield__label,
.mdc-typography--title,
.supplimentary-list-title,
.mdc-typography--headline,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-drawer__content-heading,
.mdc-top-app-bar__section--logo,
.mdc-drawer .mdc-list-group__subheader {
  font-family: $heading-font-family, $base-font-family, Helvetica, Arial, sans-serif;
  // font-feature-settings: "ss01" on;
  letter-spacing: -0.08rem;
}
footer.mdc-layout__footer {
  p, li, div, h3, a, strong {
    font-family: $footer-font-family;
  }
}

.mdc-typography {
  background-size: 1400px;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}

:root {
  --mdc-layout-grid-margin-desktop: 0;
  --mdc-layout-grid-gutter-desktop: 0;
  --mdc-layout-grid-margin-tablet: 0;
  --mdc-layout-grid-gutter-tablet: 0;
  --mdc-layout-grid-margin-phone: 0;
  --mdc-layout-grid-gutter-phone: 0;
}

.mdc-top-app-bar {
  position: relative;
  background-color: transparent;
  margin-top: $unit*1.5;
  // padding-bottom: $unit;
}

.scvo-tab-bar.mdc-top-app-bar__row {
  height: 40px;
}
.scvo-link-bar {
  background-color: $gray-color-light;
  height: 40px;
  width: 100%;
  ul {
    margin: 0;
    list-style-type: none;
    li {
      margin: 0;
      display: inline;
    }
  }
  .text-link {
    font-size: 91%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    // border-bottom: $thick-line solid transparent;
    padding: 0 0.4rem;
    color: $secondary-color;
    text-decoration: none;
  }
  .brand-coronavirus .text-link:hover {
    background-color: $primary-color;
    color: white;
  }
  .brand-fundingscotland .text-link.active,
  .brand-fundingscotland .text-link:hover {
    background-color: $fs-color;
    color: white;
  }
  .brand-goodmoves .text-link.active,
  .brand-goodmoves .text-link:hover {
    background-color: $goodmoves-color;
    color: white;
  }
  .brand-tfn .text-link:hover {
    background-color: $tfn-color-alt;
    color: white;
  }
  .brand-scvo .brand-logo.active,
  .brand-scvo .brand-logo:hover,
  .brand-scvo .text-link:hover {
    background-color: $primary-color;
    color: white;
  }
  .brand-logo {
    box-sizing: border-box;
    line-height: 38px;
    width: 90px;
    padding: 0 0.4rem;
    img {
      vertical-align: middle;
      width: 100%;
    }
  }
  .brand-scvo .brand-logo:hover img,
  .brand-scvo .brand-logo.active img {
    filter: invert(1) contrast(100);
  }
}

html, body {
  height: 100%;
}
body {
  background-color: white;
  overflow: visible !important;
  // overflow-y: scroll;
}
// .mdc-top-app-bar {
//   background-color: white;
// }
.bg-grey-light {
  background-color: $mdc-theme-lightgrey;
}
.main-body {
  min-height: 40vh;
}
//   // background-color: $mdc-theme-lightgrey;
//   padding-bottom: $unit;
// }
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: $primary-color;
}

.hidden {
  display: none !important;
}

.post {
  .post-info-categories {
    display: none !important;
  }
  .photo-wee {
    width: 1.6rem !important;
    height: 1.6rem !important;
    border-radius: 50%;
    margin-right: $unit/2;
    vertical-align: text-bottom;
    float: left;
    margin-top: -0.15rem;
  }
}
figure,
.wp-block-image {
  margin: 0;
}

.mdc-toolbar-fixed-adjust {
  padding-top: 84px;
}

.container,
.container-fluid {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.4rem;
  box-sizing: border-box;
}
.container-content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
  box-sizing: border-box;
}
.container-home {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.mdc-button,
.mdc-button.mdc-button--raised {
  background-color: $yellow-color;
  // font-family: 'Ingra';
  font-weight: 600;
  box-shadow: none;
  border-radius: 6px;
  color: $secondary-color;
  font-size: 1.4rem;
  letter-spacing: -0.02rem;
  line-height: 31px !important;
  height: 44px;
  padding: 8px 13px;
  .mdc-list-item__graphic {
    color: $secondary-color !important;
  }
}
.mdc-button:hover {
  box-shadow: none;
  background-color: $secondary-color-light !important;
  color: white !important;
  .mdc-list-item__graphic {
    color: white !important;
  }
}

header {
  .container-fluid {
    padding: 0 2.4rem;
  }
  .container-fluid .mdc-top-app-bar__section--align-end {
    padding-right: 0 !important;
  }
  .mdc-top-app-bar__section--logo {
    font-weight: 800;
    a.site-brand {
      display: flex;
      align-items: center;
      justify-content: left;
      width: 100%;
      img {
        max-width: 250px;
        width: 100%;
        height: 100%;
        padding: $unit/2 $unit*3 $unit*2.5 0;
      }
      h1 {
        font-size: 2.95rem;
        line-height: 1.55;
        font-family: "Asap";
        font-weight: 800;
        font-feature-settings: "ss01" on;
        letter-spacing: -0.03rem;
        display: block;
        margin: 0;
        padding: 0 0 $unit*2.25;
        .text-brand {
          color: $primary-color;
        }
        .mdc-typography--caption {
          display: block;
          font-weight: 800;
          font-size: 48%;
        }
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
  .mdc-top-app-bar__navigation-icon {
    color: $primary-color !important;
  }
  .container-fluid .mdc-top-app-bar__row.mdc-top-app-bar__upper {
    height: auto;
  }
  // .container-fluid .mdc-top-app-bar__row.mdc-top-app-bar__upper,
  // #main-tab-bar {
  //   height: $header-height;
  // }
  .container-fluid .mdc-top-app-bar__row.mdc-top-app-bar__lower {
    // border-bottom: 2px solid $primary-color;
    height: auto !important;
    .mdc-tab-bar {
      height: auto;
      .mdc-tab {
        background: linear-gradient(to bottom, $secondary-color-lighter 0%, $secondary-color-lighter 100%);
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 0 0;
        transition: background-size .333s;
        height: auto;
        min-height: auto;
        line-height: 1;
        padding: $unit/2 !important;
        font-size: 1.1rem;
        .mdc-tab__text-label {
          height: auto;
          line-height: 1;
        }
      }
      .mdc-tab:hover {
        background-size: 5px 50px;
      }
      .mdc-tab .mdc-tab__text-label {
        transition: none;
        border: none;
        color: $secondary-color;
      }
      .mdc-tab {
        border-radius: .1rem .1rem 0 0;
      }
      .mdc-tab.mdc-tab--active {
        background: $secondary-color !important;
        .mdc-tab__text-label {
          color: white;
        }
      }
    }
  }
  #main-tab-bar {
    .mdc-tab:first-child {
      padding-left: $unit/2 !important;
    }
  }
  //   .mdc-tab {
  //     // min-height: $header-height;
  //     // height: $header-height;
  //     // padding: 0 $unit*1.5;
  //     .mdc-tab__text-label {
  //       // line-height: $header-height - 17px;
  //       // height: $header-height - 17px;
  //       // font-size: 1.5rem;
  //       // font-weight: 100;
  //       // color: $mdc-theme-mediumgrey;
  //       // border-bottom-width: 5px;
  //       // border-top-width: 12px;
  //     }
  //   }
  //   // .mdc-tab:last-child {
  //   //   padding-right: 0;
  //   // }
  //   // .mdc-tab:first-child {
  //   //   padding-left: 0 !important;
  //   // }
  //   // .mdc-tab--active .mdc-tab__text-label,
  //   // .mdc-tab:hover .mdc-tab__text-label {
  //   //   border-bottom-color: $mdc-theme-mediumgrey;
  //   // }
  // }
}

h1,
h2,
h3,
h4,
.score,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6 {
  color: $secondary-color;
  font-weight: 600;
}
.score {
  margin-top: $unit/2;
  line-height: 1;
}
.result {
  .mdc-typography--caption {
    font-size: .9rem;
    color: lighten($mdc-theme-mediumgrey, 25%);
    font-weight: 600;
  }
}
.score-respondent {
  color: $primary-color !important;
}
.score-shared-1 {
  color: $mdc-theme-pink !important;
}
.score-shared-2 {
  color: $mdc-theme-green !important;
}
.score-shared-3 {
  color: $mdc-theme-purple !important;
}
.mdc-typography--headline6 {
  font-weight: 400;
}
.scores.mdc-typography--caption {
  display: block;
  margin: $unit*(2/3) 0 $unit*1.5;
  .score {
    font-size: 1.75rem;
    font-weight: 400;
    padding-right: $unit;
    color: lighten($mdc-theme-mediumgrey, 25%);
  }
}

// .cta {
//   .mdc-button {
//     background-color: $mdc-theme-lightblue;
//     height: $unit*3;
//     text-transform: uppercase;
//     padding: 0 $unit*1.33;
//   }
// }

// #checkup-results,
// .container-home {
//   .cta {
//     .mdc-button {
//       background-color: $mdc-theme-orange;
//       font-size: 1.1rem;
//       height: 52px;
//     }
//   }
// }
.container-home {
  hr {
    height: 8px;
    background-image: url('/assets/images/hr.png');
    background-repeat: repeat-x;
    background-position: center center;
  }
  // .cta {
  //   .mdc-button {
  //     background-color: $mdc-theme-orange;
  //   }
  // }
  .trapezoid {
    padding: $unit 0;
    margin: 0 $unit*2 $unit;
    border-radius: $unit/2;
    .icon {
      max-width: 50%;
    }
    .icon-text .mdc-typography--headline5 {
      color: white;
      font-size: 1.1rem;
      margin: $unit $unit*1.5 0 0;
      text-align: center;
    }
  }
  .leadership.trapezoid {
    background-color: $mdc-theme-purple;
  }
  .tools.trapezoid {
    background-color: $mdc-theme-lightblue;
  }
  .content.trapezoid {
    background-color: $mdc-theme-green;
  }
  .cyber.trapezoid {
    background-color: $mdc-theme-pink;
  }

  .plectrum {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 125px;
    width: 125px;
    margin: 0 auto 1rem;
    position: relative;
    .plectrum-content {
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      height: 121px;
      width: 121px;
      padding-top: 4px;
      margin: auto;
    }
    .icon {
      line-height: 125px;
      margin-left: .5rem;
    }
  }
  .number {
    border-radius: 50%;
    height: 38px;
    width: 38px;
    line-height: 38px;
    font-weight: bold;
    transform: translate(-38px, 100%);
    font-size: 1.2rem;
    margin: -38px auto 0;
  }
}

.icon-content {
  display: flex;
  align-items: center;
  .icon-text {
    margin: 0 $unit;
  }
}
.icon.fa-fw {
  color: $primary-color;
}
.header-primary {
  // border-top: 2px solid $primary-color;
  .fa-fw {
    color: $primary-color !important;
  }
}
.header-purple {
  // border-top: 2px solid $purple-color;
  .fa-fw {
    color: $purple-color !important;
  }
}
.header-pink {
  // border-top: 2px solid $pink-color;
  .fa-fw {
    color: $pink-color !important;
  }
}
.header-green {
  // border-top: 2px solid $green-color;
  .fa-fw {
    color: $green-color !important;
  }
}
.header-orange {
  // border-top: 2px solid $orange-color;
  .fa-fw {
    color: $orange-color !important;
  }
}
.header-blue {
  // border-top: 2px solid $blue-color;
  .fa-fw {
    color: $blue-color !important;
  }
}

.text-purple {
  color: $purple-color !important;
}
.text-pink {
  color: $pink-color !important;
}
.text-green {
  color: $green-color !important;
}
.text-orange {
  color: $orange-color !important;
}
.text-blue {
  color: $blue-color !important;
}

a.btn:link,
a.btn:visited,
.btn {
  font-size: 2.5rem;
  font-weight: bold;
  color: $primary-color;
  background: white;
  border: none;
  padding: $unit/2 $unit;
}
a.btn:hover,
.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
}
a.btn.btn-outline,
.btn.btn-outline {
  border: 3px solid $mdc-theme-lightblue;
  border-radius: 10px;
}
a.btn.btn-outline:hover,
.btn.btn-outline:hover {
  background: $mdc-theme-lightblue;
  color: $secondary-color;
}

// .container-home-pull {
//   // background-color: $secondary-color;
//   .mdc-typography--body1,
//   .mdc-typography--headline5 {
//     color: white;
//   }
// }
.text-center {
  text-align: center;
}

.checkbox-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
}

.trapezoid {
  transform: skew(-10deg,0deg);
  .trapezoid-content {
    transform: skew(10deg,0deg);
  }
}

.checkup-section-header-container {
  // padding-top: $unit*3;
  // background: white;
}

.checkup-section-header {
  // padding: 0 0 $unit;
  background-color: $secondary-color;
  .fa-fw {
    color: white;
  }
}
.progress-bar {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  // top: -1.5rem;
  // left: -.2rem;
  // border-radius: $unit/3;
  // background-color: #E2E4E5;
//   background-color: #afe5eb;
// background-image: url("data:image/svg+xml,%3Csvg width='20' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%235ecada' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
  // border: $unit/5 solid white;
  // border-top-width: $unit/5;
  // border-right-width: $unit/4;
  // border-bottom-width: $unit/5;
  // border-left-width: $unit/4;
  padding: 0;
  display: flex;
  height: $unit*1.8;
  line-height: $unit*1.8;
  .progress-overlay {
    height: $unit*1.8;
    opacity: .5;
    background: white;
  }
}
.progress-label-text {
  font-weight: bold;
  color: $secondary-color;
}
.container-home-hero {
  background: $secondary-color;
  .mdc-typography--body1,
  .mdc-typography--body2,
  .mdc-typography--headline2,
  .mdc-typography--headline3,
  .mdc-typography--headline4,
  .mdc-typography--headline5 {
    color: white;
  }
  .mdc-typography--headline2 {
    letter-spacing: -0.2rem;
  }
  .mdc-typography--headline3 {
    font-size: 2.6rem;
  }
  .mdc-typography--headline5 {
    font-weight: 400;
  }
  a {
    color: white;
  }
  img {
    margin-top: $unit*4;
  }
}

.checkup-topic-header {
  background-color: $mdc-theme-lightblue;
  padding: $unit*2 0;
}

.checkup-section-header,
.checkup-topic-header {
  .mdc-typography--body1,
  .mdc-typography--body2,
  .mdc-typography--headline3 {
    color: white;
  }
  .mdc-typography--body2 {
    font-weight: 600;
    text-transform: uppercase;
  }
  .mdc-typography--headline3 {
    margin: $unit/4 0 !important;
  }
  .icon {
    max-width: 88%;
  }
}
.question-block {
  background-color: white;
  margin: $unit 0 $unit*2;
  // border-left: $unit/2 solid $mdc-theme-lightblue;
  // border-radius: $border-radius;
  .question {
    // border-radius: 0 $border-radius 0 0;
    padding: $unit $unit*2;
    margin: 0;
    .question-title,
    .question-description {
      color: white;
      margin: 0;
      a {
        color: white;
      }
    }
    .question-description {
      margin: $unit 0 0;
    }
  }
  .results-block,
  .answer-block-freetext {
    padding: $unit $unit*2;
  }
  .answer-block {
    padding: $unit $unit*2 $unit/2 $unit*1.25;
    margin: 0;
    .answer {
      list-style-type: none;
      label {
        display: flex;
        width: 100%;
        min-height: 40px;
        justify-content: left;
        align-items: center;
        user-select: none;
      }
    }
  }
}

.checkup-topic-resources .mdc-card__title {
  .mdc-typography--headline5 {
    margin-bottom: 0;
  }
  a {
    color: white;
  }
}

.question-block .question {
  background-color: $secondary-color;
}

.site-default {
  #checkup-section-1 {
    .checkup-section-header,
    .question-block .question,
    .cta .mdc-button {
      background-color: $mdc-theme-purple;
      color: white;
    }
    .question-block {
      border-left-color: $mdc-theme-purple;
    }
  }
  .checkup-topic-resources-leadership .mdc-card__title,
  .checkup-topic-header-leadership {
    background-color: $mdc-theme-purple;
  }
  // .checkup-topic-resources-leadership a {
  //   color: $mdc-theme-purple;
  // }
  #checkup-section-2,
  #checkup-section-6 {
    .checkup-section-header,
    .question-block .question,
    .cta .mdc-button {
      background-color: $mdc-theme-lightblue;
      color: white;
    }
    .question-block {
      border-left-color: $mdc-theme-lightblue;
    }
  }
  .checkup-topic-resources-tools .mdc-card__title,
  .checkup-topic-header-tools {
    background-color: $mdc-theme-lightblue;
  }
  // .checkup-topic-resources-tools a {
  //   color: $mdc-theme-lightblue;
  // }
  #checkup-section-3 {
    .checkup-section-header,
    .question-block .question,
    .cta .mdc-button {
      background-color: $mdc-theme-green;
      color: white;
    }
    .question-block {
      border-left-color: $mdc-theme-green;
    }
  }
  .checkup-topic-resources-data .mdc-card__title,
  .checkup-topic-header-data {
    background-color: $mdc-theme-green;
  }
  // .checkup-topic-resources-data a {
  //   color: $mdc-theme-green;
  // }
  #checkup-section-4 {
    .checkup-section-header,
    .question-block .question,
    .cta .mdc-button {
      background-color: $mdc-theme-darkgreen;
      color: white;
    }
    .question-block {
      border-left-color: $mdc-theme-darkgreen;
    }
  }
  #checkup-section-5  {
    .checkup-section-header,
    .question-block .question,
    .cta .mdc-button {
      background-color: $mdc-theme-pink;
      color: white;
    }
    .question-block {
      border-left-color: $mdc-theme-pink;
    }
  }
  .checkup-topic-resources-cyber .mdc-card__title,
  .checkup-topic-header-cyber {
    background-color: $mdc-theme-pink;
  }
  // .checkup-topic-resources-cyber a {
  //   color: $mdc-theme-pink;
  // }
  // #checkup-foundation,
  // #checkup-demographics,
  // #checkup-organisation-details,
  // #checkup-details,
  // #checkup-confirmation,
  // #checkup-results {
  //   .answer-block {
  //     padding-top: 0;
  //   }
  //   // .checkup-section-header .mdc-typography--body1,
  //   // .checkup-section-header .mdc-typography--body2,
  //   // .checkup-section-header .mdc-typography--headline3 {
  //   //   color: $secondary-color;
  //   // }
  //   .question-block .question {
  //     background-color: $secondary-color;
  //   }
  // }
}

.sharing-info {
  border: 1px solid $mdc-theme-orange;
  background-color: lighten($mdc-theme-orange, 40%);
  padding: 6px 16px 8px;
  border-radius: $border-radius;
  .mdc-text-field-helper-text {
    color: black !important;
    opacity: 1;
  }
}

.bg-yellow,
a.bg-yellow {
  background: $yellow-color !important;
  color: $secondary-color;
  text-decoration: none;
}
a.bg-yellow {
  border: none;
  display: block;
  .fa-fw,
  h2,
  h3,
  h4,
  p {
    text-decoration: none;
    transition: color $transition-speed;
  }
  .columns {
    margin-left: -($padding/2);
    margin-right: -($padding/2);
    .column {
      padding-left: $padding/2;
      padding-right: $padding/2;
    }
  }
}
a.bg-yellow:hover {
  .fa-fw,
  h2,
  h3,
  h4,
  p {
    color: $primary-color-dark;
  }
}
.banner-coronavirus-info-hub {
  padding: $unit $unit/2;
  h2,
  h3,
  h4,
  p {
    font-family: $footer-font-family;
  }
  .fa-ul {
    margin-left: $unit*3.5 !important;
    margin-bottom: 0 !important;
    li {
      margin: 0;
    }
    .fa-li {
      top: $unit/10;
      left: -($unit*3.5);
      width: $unit*3.5;
    }
  }
  .banner-content {
    padding-left: $unit;
    p {
      font-weight: 400;
    }
  }
}
.no-margin {
  padding: 0;
  margin: 0;
}

#share-button {
  color: $mdc-theme-orange;
}

.result {
  .score {
    font-size: 4rem;
    font-weight: 400;
  }
}
.key {
  margin: $unit*2 0 $unit*4;
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
      margin-bottom: $unit;
    }
    li::before {
      font-size: 3rem;
      line-height: 1rem;
      vertical-align: text-top;
      margin-right: .5rem;
    }
    li.key-your::before {
      content: "\25CF";
      color: $mdc-theme-lightblue;
    }
    li.key-average::before {
      content: "\25CC";
      color: #444444;
      font-size: 1.8rem;
      margin-left: .15rem;
    }
    li.key-shared-1::before {
      content: "\25CF";
      color: $mdc-theme-pink;
    }
    li.key-shared-2::before {
      content: "\25CF";
      color: $mdc-theme-green;
    }
    li.key-shared-3::before {
      content: "\25CF";
      color: $mdc-theme-purple;
    }
    // li.key-shared-4::before {
    //   content: "\25CF";
    //   color: $mdc-theme-lightblue;
    // }
    // li.key-shared-5::before {
    //   content: "\25CF";
    //   color: $mdc-theme-orange;
    // }
    // li.key-shared-6::before {
    //   content: "\25CF";
    //   color: $mdc-theme-darkblue;
    // }
    // li.key-shared-7::before {
    //   content: "\25CF";
    //   color: $mdc-theme-darkgreen
    // }
  }
}

.mdc-card {
  width: 100%;
  background-color: white;
  .mdc-card__primary {
    flex: 1 1 auto
  }
  .mdc-card__actions {
    padding: 0;
    margin-top: $unit;
    .mdc-card__action {
      text-transform: uppercase;
    }
  }
}

// Pagination ==================================================================

.pagination {
  li {
    a {
      color: $mdc-theme-secondary-dark;
    }
    a.pagination-arrow {
      color: $mdc-theme-secondary-dark;
    }
  }
  li.disabled a.pagination-arrow {
    color: $mdc-theme-secondary-dark;
  }
  li.current-page {
    background-color: $mdc-theme-primary-dark;
    a {
      color: white;
    }
  }
  li:hover,
  li.current-page:hover {
    background-color: $mdc-theme-primary-dark;
    a {
      color: white;
    }
  }
  li.disabled:hover {
    background-color: inherit !important;
  }
}


:focus {
  outline: none;
}
.pull-right {
  float: right;
}

::-moz-selection {
  color: white;
  background: black;
}
::selection {
  color: white;
  background: black;
}
::-webkit-input-placeholder {
  color: $secondary-color-light;
}
::-ms-input-placeholder {
  color: $secondary-color-light;
}
::-moz-placeholder {
  color: $secondary-color-light;
}

// Footer ======================================================================

footer.mdc-layout__footer {
  background-color: $secondary-color;
  border-top: none;
  box-shadow: none;
  h3 {
    border-bottom: none;
    text-transform: none;
    font-size: 1.4rem;
  }
  h3,
  p,
  a,
  .about a,
  .mdc-layout-grid p {
    color: $secondary-color;
  }
  a {
    transition: color $transition-speed;
    // border-bottom: $thick-line solid transparent;
  }
  a.brand-logo {
    border: none !important
  }
  .mdc-list .mdc-list-item a:hover,
  .about a:hover,
  a:hover {
    text-decoration: none !important;
    // border-bottom: $thick-line solid white;
    color: $secondary-color-light;
  }
  .fa-ul {
    .fa-li {
      .fas, .fal, .far, .fab {
        color: $secondary-color;
      }
    }
  }
  .mdc-list .mdc-list-item {
    height: auto;
  }
  .footer-main {
    margin-bottom: 0;
    padding: $unit $unit $unit*3;
    background-color: $digital-color;
  }
  .footer-copyright {
    padding: $unit*3 0;
    p {
      line-height: 1.4rem;
    }
    h3,
    p,
    a,
    .mdc-layout-grid p {
      color: white;
    }
    a:hover {
      color: white;
    }
    .brand-logo {
      display: inline-block;
      vertical-align: top;
    }
    .brand-logo.r-margin-full img {
      height: 53px;
      width: auto;
    }
  }
}

@media screen and (max-width: $mobile-landscape-breakpoint) {
  .mdc-typography--headline2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: $unit/2;
  }
}
@media screen and (max-width: $mobile-breakpoint) {
  .mdc-typography--headline2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 0;
  }
  .mdc-typography--headline5 {
    font-size: 1.15rem;
    line-height: 1.25rem;
  }
  .mdc-typography--body1 {
    line-height: 1.15rem;
  }
  .cta {
    text-align: center;
  }
}

@media screen and (max-width: 959px) and (min-width: 600px) {
  .mdc-top-app-bar {
    height: auto;
  }
}

.v-padding {
  padding-top: $unit/2 !important;
  padding-bottom: $unit/2 !important;
}

.v-padding-full {
  padding-top: $unit !important;
  padding-bottom: $unit !important;
}

.h-padding {
  padding-left: $unit/2 !important;
  padding-right: $unit/2 !important;
}

.h-padding-full {
  padding-left: $unit !important;
  padding-right: $unit !important;
}

.x-padding {
  padding: $unit/2 !important;
}

.x-padding-full {
  padding: $unit !important;
}

.t-padding {
  padding-top: $unit/2 !important;
}

.b-padding {
  padding-bottom: $unit/2 !important;
}

.l-padding {
  padding-left: $unit/2 !important;
}

.r-padding {
  padding-right: $unit/2 !important;
}

.t-padding-full {
  padding-top: $unit !important;
}

.b-padding-full {
  padding-bottom: $unit !important;
}

.l-padding-full {
  padding-left: $unit !important;
}

.r-padding-full {
  padding-right: $unit !important;
}

.v-margin {
  margin-top: $unit/2 !important;
  margin-bottom: $unit/2 !important;
}

.v-margin-full {
  margin-top: $unit !important;
  margin-bottom: $unit !important;
}

.v-margin-full-bottom {
  margin-bottom: $unit !important;
}

.v-margin-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.h-margin {
  margin-left: $unit/2 !important;
  margin-right: $unit/2 !important;
}

.h-margin-full {
  margin-left: $unit !important;
  margin-right: $unit !important;
}

.t-margin {
  margin-top: $unit/2 !important;
}

.b-margin {
  margin-bottom: $unit/2 !important;
}

.l-margin {
  margin-left: $unit/2 !important;
}

.r-margin {
  margin-right: $unit/2 !important;
}

.t-margin-full {
  margin-top: $unit !important;
}

.b-margin-full {
  margin-bottom: $unit !important;
}

.l-margin-full {
  margin-left: $unit !important;
}

.r-margin-full {
  margin-right: $unit !important;
}

.x-margin {
  margin: $unit/2 !important;
}

.x-margin-full {
  margin: $unit !important;
}
