$mdc-theme-orange: #D4431F;
$mdc-theme-purple: #754AA5;
$mdc-theme-green: #588223;
$mdc-theme-darkgreen: #6B7D23;
$mdc-theme-pink: #D21262;
$mdc-theme-blue: #1377CD;
$mdc-theme-lightblue: #107FA6;
$mdc-theme-darkblue: #00519f;
$mdc-theme-darkgrey: #2A2A2A;
$mdc-theme-mediumgrey: #585858;
$mdc-theme-lightgrey: #F6F6F6;

$mdc-theme-primary: $mdc-theme-blue;
$mdc-theme-primary-dark: darken($mdc-theme-primary, 15%);
$mdc-theme-primary-light: lighten($mdc-theme-primary, 15%);

$mdc-theme-secondary: $mdc-theme-blue;
$mdc-theme-secondary-dark: darken($mdc-theme-secondary, 15%);
$mdc-theme-secondary-light: lighten($mdc-theme-secondary, 15%);

$mdc-theme-footer: #244B5A;
$mdc-theme-footer-light: #FEF9F9;

$unit: 1rem;
$header-height: 84px;
$border-radius: $unit/5;
$thick-line: 5px;

@import "./node_modules/material-components-web/material-components-web.scss";
@import "./node_modules/@scvo/common/old/common-styles.scss";

$gray-color: #D5D8DC;
$secondary-color: #244B5A;

$base-font-family:                  "Ingra", Helvetica, Arial, sans-serif;
$heading-font-family:               "Asap", Helvetica, Arial, sans-serif;
$footer-font-family:                "Ingra", Helvetica, Arial, sans-serif;

h1,
h2,
h3,
h4 {
  font-family: $heading-font-family, $base-font-family, Helvetica, Arial, sans-serif;
}
p,
li,
.mdc-tab,
footer h3,
.mdc-chip,
.mdc-card,
.mdc-button,
.mdc-select,
.mdc-button,
.mdc-form-field,
.mdc-typography,
.mdc-form-field,
.mdc-text-field,
.mdc-dialog__body,
.mdc-dialog__title,
.mdc-card__subtitle,
.mdc-floating-label,
.mdc-card__subtitle,
.mdc-snackbar__text,
.mdc-snackbar__label,
.mdc-dialog__content,
.mdc-dialog__actions,
.mdc-drawer__subtitle,
.mdc-textfield__input,
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--title,
.mdc-text-field__input,
.mdc-top-app-bar__title,
.mdc-card__title--large,
.mdc-typography--caption,
.mdc-menu .mdc-list-item,
.supplimentary-list-title,
.mdc-typography--headline,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--headline7,
.mdc-card__supporting-text,
.mdc-select__selected-text,
.mdc-dialog__header__title,
.mdc-drawer .mdc-list-item,
.mdc-select__native-control,
.mdc-typography--subheading2,
.mdc-list-item__secondary-text,
.mdc-simple-menu .mdc-list-item,
.mdc-temporary-drawer .mdc-list-item,
.mdc-drawer--temporary .mdc-list-item,
.mdc-list {
  font-family: $base-font-family, Helvetica, Arial, sans-serif;
}
.mdc-card__title,
.mdc-drawer__title,
.mdc-textfield__label,
.mdc-typography--title,
.supplimentary-list-title,
.mdc-typography--headline,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-drawer__content-heading,
.mdc-top-app-bar__section--logo,
.mdc-drawer .mdc-list-group__subheader {
  font-family: $heading-font-family, $base-font-family, Helvetica, Arial, sans-serif;
}
footer.mdc-layout__footer {
  p, li, div, h3, a, strong {
    font-family: $footer-font-family;
  }
}

:root {
  --mdc-layout-grid-margin-desktop: 0;
  --mdc-layout-grid-gutter-desktop: 0;
  --mdc-layout-grid-margin-tablet: 0;
  --mdc-layout-grid-gutter-tablet: 0;
  --mdc-layout-grid-margin-phone: 0;
  --mdc-layout-grid-gutter-phone: 0;
}

.scvo-link-bar {
  background-color: $gray-color;
  height: 40px;
  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: inline;
    }
  }
  .text-link {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-bottom: $thick-line solid transparent;
    margin-right: $unit*(3/4);
    color: $secondary-color;
  }
  .text-link:hover {
    border-bottom: $thick-line solid $secondary-color;
  }
  .brand-logo {
    margin-left: $unit/4;
    line-height: 38px;
    width: 90px;
    img {
      vertical-align: middle;
    }
  }
}

html, body {
  height: 100%;
}
body {
  background-color: $mdc-theme-footer-light;
  overflow: visible !important;
}
.mdc-top-app-bar {
  background-color: white;
}
.main-body {
  background-color: $mdc-theme-lightgrey;
  padding-bottom: 1px;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: $mdc-theme-orange;
}

.post {
  .post-info-categories {
    display: none !important;
  }
  .photo-wee {
    width: 1.6rem !important;
    height: 1.6rem !important;
    border-radius: 50%;
    margin-right: $unit/2;
    vertical-align: text-bottom;
    float: left;
    margin-top: -0.15rem;
  }
}
figure,
.wp-block-image {
  margin: 0;
}

.mdc-toolbar-fixed-adjust {
  padding-top: $header-height;
}

.container,
.container-fluid {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $unit/2;
  box-sizing: border-box;
}
.container-content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
  box-sizing: border-box;
}
.container-home {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

header {
  .container-fluid {
    padding: 0 $unit/2;
  }
  .container-fluid .mdc-top-app-bar__section--align-end {
    padding-right: 0 !important;
  }
  .mdc-top-app-bar__section--logo {
    font-weight: 800;
    a {
      color: $mdc-theme-blue;
      text-transform: uppercase;
      font-size: 1.85rem;
      letter-spacing: -0.07rem;
      font-weight: 800;
      display: block;
      // line-height: $header-height;
      .mdc-typography--caption {
        display: block;
        font-weight: 800;
        font-size: 1rem;
      }
      img {
        vertical-align: middle;
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
  .mdc-top-app-bar__navigation-icon {
    color: $mdc-theme-blue !important;
  }
  .container-fluid .mdc-top-app-bar__row.mdc-top-app-bar__upper,
  #main-tab-bar {
    height: $header-height;
  }
  .mdc-tab .mdc-tab__text-label {
    transition: none;
  }
  #main-tab-bar {
    .mdc-tab {
      min-height: $header-height;
      height: $header-height;
      padding: 0 $unit*1.5;
      .mdc-tab__text-label {
        line-height: $header-height - 17px;
        height: $header-height - 17px;
        font-size: 1.5rem;
        font-weight: 100;
        color: $mdc-theme-mediumgrey;
        border-bottom-width: 5px;
        border-top-width: 12px;
      }
    }
    .mdc-tab:last-child {
      padding-right: 0;
    }
    .mdc-tab--active .mdc-tab__text-label,
    .mdc-tab:hover .mdc-tab__text-label {
      border-bottom-color: $mdc-theme-mediumgrey;
    }
  }
}

h1,
h2,
h3,
h4,
.score,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6 {
  color: $mdc-theme-mediumgrey;
  font-weight: 600;
}
.score {
  margin-top: $unit/2;
  line-height: 1;
}
.result {
  .mdc-typography--caption {
    font-size: .9rem;
    color: lighten($mdc-theme-mediumgrey, 25%);
    font-weight: 600;
  }
}
.score-respondent {
  color: $mdc-theme-blue !important;
}
.score-shared-1 {
  color: $mdc-theme-pink !important;
}
.score-shared-2 {
  color: $mdc-theme-green !important;
}
.score-shared-3 {
  color: $mdc-theme-purple !important;
}
.mdc-typography--headline6 {
  font-weight: 400;
}
.scores.mdc-typography--caption {
  display: block;
  margin: $unit*(2/3) 0 $unit*1.5;
  .score {
    font-size: 1.75rem;
    font-weight: 400;
    padding-right: $unit;
    color: lighten($mdc-theme-mediumgrey, 25%);
  }
}

.cta {
  .mdc-button {
    background-color: $mdc-theme-blue;
    height: $header-height / 2;
    text-transform: uppercase;
    padding: 0 $unit*1.33;
  }
}

#checkup-results,
.container-home {
  .cta {
    .mdc-button {
      background-color: $mdc-theme-orange;
      font-size: 1.1rem;
      height: 52px;
    }
  }
}
.container-home {
  hr {
    height: 8px;
    background-image: url('/assets/images/hr.png');
    background-repeat: repeat-x;
    background-position: center center;
  }
  .cta {
    .mdc-button {
      background-color: $mdc-theme-orange;
    }
  }
  .trapezoid {
    padding: $unit 0;
    margin: 0 $unit*2 $unit;
    border-radius: $unit/2;
    .icon {
      max-width: 50%;
    }
  }
  .leadership.trapezoid {
    background-color: $mdc-theme-purple;
  }
  .tools.trapezoid {
    background-color: $mdc-theme-lightblue;
  }
  .content.trapezoid {
    background-color: $mdc-theme-green;
  }
  .cyber.trapezoid {
    background-color: $mdc-theme-pink;
  }
}

.container-home-pull {
  background-color: $mdc-theme-darkgrey;
  .mdc-typography--body1,
  .mdc-typography--headline5 {
    color: white;
  }
}
.text-center {
  text-align: center;
}

.trapezoid {
  transform: skew(-10deg,0deg);
  .trapezoid-content {
    transform: skew(10deg,0deg);
  }
}

.checkup-section-header {
  margin-top: $unit*4;
  padding: 0 0 $unit;
  .progress-bar {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    top: -1.5rem;
    left: -.2rem;
    width: 100%;
    border-radius: $unit/3;
    background-color: #E2E4E5;
    border: $unit/5 solid white;
    border-top-width: $unit/5;
    border-right-width: $unit/4;
    border-bottom-width: $unit/5;
    border-left-width: $unit/4;
    height: $unit*2.5;
    line-height: $unit*2.5;
    padding: 0;
    .progress-label {
      border-radius: $border-radius 0 0 $border-radius;
      background-color: $mdc-theme-blue;
      color: white;
      font-size: 0.95rem;
      .progress-label-text {
        padding: 0 $unit;
        line-height: 35px;
      }
    }
  }
}
.container-home-hero {
  background: $mdc-theme-darkblue;
  .mdc-typography--body1,
  .mdc-typography--body2,
  .mdc-typography--headline2,
  .mdc-typography--headline5 {
    color: white;
  }
  .mdc-typography--headline2 {
    letter-spacing: -0.2rem;
  }
  .mdc-typography--headline5 {
    font-weight: 400;
  }
  a {
    color: white;
  }
  img {
    margin-top: $unit*4;
  }
}

.checkup-topic-header {
  background-color: $mdc-theme-blue;
  padding: $unit*2 0;
}

.checkup-section-header,
.checkup-topic-header {
  .mdc-typography--body1,
  .mdc-typography--body2,
  .mdc-typography--headline3 {
    color: white;
  }
  .mdc-typography--body2 {
    text-transform: uppercase;
  }
  .mdc-typography--headline3 {
    margin: $unit/4 0 !important;
  }
  .icon {
    max-width: 85%;
  }
}
.question-block {
  background-color: white;
  margin: $unit 0 $unit*2;
  border-left: $unit/2 solid $mdc-theme-blue;
  border-radius: $border-radius;
  .question {
    border-radius: 0 $border-radius 0 0;
    padding: $unit $unit*2;
    margin: 0;
    .question-title,
    .question-description {
      color: white;
      margin: 0;
      a {
        color: white;
      }
    }
    .question-description {
      margin: $unit 0 0;
    }
  }
  .results-block,
  .answer-block-freetext {
    padding: $unit $unit*2;
  }
  .answer-block {
    padding: $unit $unit*2 $unit/2 $unit*1.25;
    margin: 0;
    .answer {
      list-style-type: none;
    }
  }
}

.checkup-topic-resources .mdc-card__title {
  .mdc-typography--headline5 {
    margin-bottom: 0;
  }
  a {
    color: white;
  }
}

#checkup-section-1 {
  .checkup-section-header,
  .question-block .question,
  .cta .mdc-button {
    background-color: $mdc-theme-purple;
  }
  .question-block {
    border-left-color: $mdc-theme-purple;
  }
}
.checkup-topic-resources-leadership .mdc-card__title,
.checkup-topic-header-leadership {
  background-color: $mdc-theme-purple;
}
// .checkup-topic-resources-leadership a {
//   color: $mdc-theme-purple;
// }
#checkup-section-2,
#checkup-section-6 {
  .checkup-section-header,
  .question-block .question,
  .cta .mdc-button {
    background-color: $mdc-theme-lightblue;
  }
  .question-block {
    border-left-color: $mdc-theme-lightblue;
  }
}
.checkup-topic-resources-tools .mdc-card__title,
.checkup-topic-header-tools {
  background-color: $mdc-theme-lightblue;
}
// .checkup-topic-resources-tools a {
//   color: $mdc-theme-lightblue;
// }
#checkup-section-3 {
  .checkup-section-header,
  .question-block .question,
  .cta .mdc-button {
    background-color: $mdc-theme-green;
  }
  .question-block {
    border-left-color: $mdc-theme-green;
  }
}
.checkup-topic-resources-data .mdc-card__title,
.checkup-topic-header-data {
  background-color: $mdc-theme-green;
}
// .checkup-topic-resources-data a {
//   color: $mdc-theme-green;
// }
#checkup-section-4 {
  .checkup-section-header,
  .question-block .question,
  .cta .mdc-button {
    background-color: $mdc-theme-darkgreen;
  }
  .question-block {
    border-left-color: $mdc-theme-darkgreen;
  }
}
#checkup-section-5  {
  .checkup-section-header,
  .question-block .question,
  .cta .mdc-button {
    background-color: $mdc-theme-pink;
  }
  .question-block {
    border-left-color: $mdc-theme-pink;
  }
}
.checkup-topic-resources-cyber .mdc-card__title,
.checkup-topic-header-cyber {
  background-color: $mdc-theme-pink;
}
// .checkup-topic-resources-cyber a {
//   color: $mdc-theme-pink;
// }
#checkup-organisation-details,
#checkup-details,
#checkup-confirmation,
#checkup-results {
  // .answer-block {
  //   padding-top: 0;
  // }
  .checkup-section-header .mdc-typography--body1,
  .checkup-section-header .mdc-typography--body2,
  .checkup-section-header .mdc-typography--headline3 {
    color: $mdc-theme-mediumgrey;
  }
  .question-block .question {
    background-color: $mdc-theme-blue;
  }
}

.sharing-info {
  border: 1px solid $mdc-theme-orange;
  background-color: lighten($mdc-theme-orange, 40%);
  padding: 6px 16px 8px;
  border-radius: $border-radius;
  .mdc-text-field-helper-text {
    color: black !important;
    opacity: 1;
  }
}

#share-button {
  color: $mdc-theme-orange;
}

.result {
  .score {
    font-size: 4rem;
    font-weight: 400;
  }
}
.key {
  margin: $unit*2 0 $unit*4;
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
      margin-bottom: $unit;
    }
    li::before {
      font-size: 3rem;
      line-height: 1rem;
      vertical-align: text-top;
      margin-right: .5rem;
    }
    li.key-your::before {
      content: "\25CF";
      color: $mdc-theme-blue;
    }
    li.key-average::before {
      content: "\25CC";
      color: #444444;
    }
    li.key-shared-1::before {
      content: "\25CF";
      color: $mdc-theme-pink;
    }
    li.key-shared-2::before {
      content: "\25CF";
      color: $mdc-theme-green;
    }
    li.key-shared-3::before {
      content: "\25CF";
      color: $mdc-theme-purple;
    }
    // li.key-shared-4::before {
    //   content: "\25CF";
    //   color: $mdc-theme-lightblue;
    // }
    // li.key-shared-5::before {
    //   content: "\25CF";
    //   color: $mdc-theme-orange;
    // }
    // li.key-shared-6::before {
    //   content: "\25CF";
    //   color: $mdc-theme-darkblue;
    // }
    // li.key-shared-7::before {
    //   content: "\25CF";
    //   color: $mdc-theme-darkgreen
    // }
  }
}

.mdc-card {
  width: 100%;
  background-color: white;
  .mdc-card__primary {
    flex: 1 1 auto
  }
  .mdc-card__actions {
    padding: 0;
    margin-top: $unit;
    .mdc-card__action {
      text-transform: uppercase;
    }
  }
}

// Pagination ==================================================================

.pagination {
  li {
    a {
      color: $mdc-theme-secondary-dark;
    }
    a.pagination-arrow {
      color: $mdc-theme-secondary-dark;
    }
  }
  li.disabled a.pagination-arrow {
    color: $mdc-theme-secondary-dark;
  }
  li.current-page {
    background-color: $mdc-theme-primary-dark;
    a {
      color: white;
    }
  }
  li:hover,
  li.current-page:hover {
    background-color: $mdc-theme-primary-dark;
    a {
      color: white;
    }
  }
  li.disabled:hover {
    background-color: inherit !important;
  }
}


:focus {
  outline: none;
}
.pull-right {
  float: right;
}

::-moz-selection {
  color: white;
  background: black;
}
::selection {
  color: white;
  background: black;
}
::-webkit-input-placeholder {
  color: $mdc-theme-mediumgrey;
}
::-ms-input-placeholder {
  color: $mdc-theme-mediumgrey;
}
::-moz-placeholder {
  color: $mdc-theme-mediumgrey;
}

// Footer ======================================================================

footer.mdc-layout__footer {
  border-top: none;
  box-shadow: none;
  h3 {
    color: white;
    border-bottom: none;
    text-transform: none;
  }
  a,
  a:hover,
  .about a,
  .about a:hover,
  .mdc-layout-grid p {
    color: white;
  }
  .fa-ul {
    .fa-li {
      .fas, .fal, .far, .fab {
        color: white;
      }
    }
  }
  .footer-main {
    margin-bottom: 0;
    padding-bottom: $unit;
    background-color: $mdc-theme-footer;
    p,
    a {
      color: white;
    }
  }
  .footer-copyright {
    background-color: $mdc-theme-footer-light;
    p,
    a,
    a:hover {
      color: $mdc-theme-footer;
    }
    p {
      line-height: 1.4rem;
    }
    .brand-logo {
      display: inline-block;
      vertical-align: top;
    }
    .brand-logo.r-margin-full img {
      height: 53px;
      width: auto;
    }
  }
}

@media screen and (max-width: $mobile-landscape-breakpoint) {
  .mdc-typography--headline2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: $unit/2;
  }
}
@media screen and (max-width: $mobile-breakpoint) {
  .mdc-typography--headline2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 0;
  }
  .mdc-typography--headline5 {
    font-size: 1.15rem;
    line-height: 1.25rem;
  }
  .mdc-typography--body1 {
    line-height: 1.15rem;
  }
  .cta {
    text-align: center;
  }
}
