<div class="container-fluid">
  <div class="container-content">
    <h1 class="mdc-typography--headline3">Error 500: Sorry about that</h1>
    <p>If you'd like to report this error, please paste the following into your email:</p>
    <pre>{{{json value=@root.errors}}}</pre>
  </div>
</div>