<div class="container-fluid">
  <div class="container-content">
    <h1 class="mdc-typography--headline3">About</h1>
    <p class="mdc-typography--body1">
      Many charities would like to use digital tools to improve their capability, but don't know where to start. Our Digital Check-up will help you to assess your organisation’s current digital maturity and how this compares to other organisations of a comparable size.The check up will help you to identify your strengths and the gaps your organisation is facing in the following areas:
    </p>
    <ul class="mdc-typography--body1">
      <li>Leadership, culture and skills</li>
      <li>Tools and equipment</li>
      <li>Content, marketing and data</li>
      <li>Cyber resilience and online threats</li>
    </ul>
    <p class="mdc-typography--body1">
      Once you have completed the checkup, you can request 1:1 support to explore the resources most relevant to your needs, either through live chat, by booking a phone call or by email.
    </p>
    <p class="mdc-typography--body1">
      If you would like to speak to us or have any questions, please email us at <a href="mailto:digital@scvo.org.uk">digital@scvo.org.uk</a>.
    </p>
  </div>
</div>