<div class="container-fluid">
  <div class="container-content">
    <h1 class="mdc-typography--headline3">Accessibility</h1>
    <p>This website has been designed to comply with international web accessibility standards issued by the <a href="http://www.w3cuk.org.uk/">World Wide Web consortium</a> (W3C) as part of their <a href="https://www.w3.org/WAI/">Web Accessibility Initiative</a>.</p>
    <p>All reasonable efforts have been made to ensure that top level and main content pages are compliant with the standards.</p>
  </div>
</div>