<div class="checkup-section-header header-primary">
  <div class="container-fluid">
    <div class="container-content v-padding-full">
      <h1 class="mdc-typography--headline3 v-padding-full">Contact</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container-content">
    <a href="mailto:digital@scvo.scot">digital@scvo.scot</a>
  </div>
</div>